<!DOCTYPE html>
<html>
  <head>
    <title>OCR Document Processor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="app-container">
      <header class="app-header">
        <h1><%= link_to "OCR Document Processor", root_path %></h1>
      </header>
      
      <main class="app-main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
